resources/runNopcommerceTest.dtd

<!ELEMENT suite (test)>
<!ATTLIST suite name NMTOKEN #REQUIRED>
<!ELEMENT test (parameter,classes)>
<!ATTLIST test name CDATA #REQUIRED>
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter name NMTOKEN #REQUIRED>
<!ATTLIST parameter value NMTOKEN #REQUIRED>
<!ELEMENT classes (class)>
<!ELEMENT class EMPTY>
<!ATTLIST class name CDATA #REQUIRED>